*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

/* header part  */

header{
background:rgb(26, 18, 51);
z-index: 2;
/* flex-direction: column; */
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 90%;
}

.insider-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 5;


}
#M-logo{
/* background-color: yellow; */
padding: 10px;
z-index: 2;
}
#M-navs{
      
    /* background: green; */
    padding-right: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    padding: 1rem;
    font-size: 1.5rem;
    
    /* flex-direction: row; */

}
ul li{ 
    text-decoration: none;
    list-style: none;
    display: flex;
   

    

}
 ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;


 }

 #btn1{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 20px ;
    background: rgb(119, 121, 240);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
 }

/* section working on stars */
.stars{
    position: absolute;
}
.first-stars{
    height: 20px;
    width: 20px; 
   
}
#star1{
    top: 3rem;
    left: 14rem;
    filter: blur(3px);
}

#star2{
 
    top: 3rem;
    left: 60rem;
    filter: blur(3px);
  
}
#star3{
    top: 5rem;
    right: 9.5rem;
    filter: blur(2px);

}

.clear-stars{
    filter: blur(0px);
}
#star4{
    height:18px ;
    width: 18px;
    top: 13.5rem;
    left: 6.5rem;
    
}
#star5{
    height: 10px;
    width: 10px;
    top: 15.5rem;
    left: 4.5rem;
   
}

#star6{
    height: 20px;
    width: 20px;
    top: 41rem;
    left: 48.5rem;
}



#star7{
    height: 20px;
    width: 20px;
    top: 51rem;
    left: 5.5rem;
}

#star8{
    height: 20px;
    width: 20px;
    top: 57rem;
    right: 31rem;
}
#star9{
    height: 15px;
    width: 15px;
    top: 46rem;
    right: 41.5rem;
}
 /* section 1  */

 .section{
    background-image: url(./images/lines.png);
    background-color:  #13082A ;
    height: auto;
    padding: 1rem;
    /* position: relative; */


 }

/* blur div */

 .blur{
    background:#376F99;
    width: 20%;
    height: 30vh;
    filter: blur(120px);
    border-radius: 50%;
 }


 #blur1{
    position: absolute;
    left: -10rem;
    top: 0;
    /* z-index: 1 ; */
 }


 .con1{
   
    width: 90%;
    /* background-color: #2C2A84; */
    margin-left:  auto;
    margin-right: auto;

}

 /* first dic */
.FrstDiv{
    margin-top: 2rem;
    width: 100%;
    z-index: 1;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    /* align-items: center; */
    /* background-color: yellow; */
    
}
 /* text area top heading */
 .TxtA{
    z-index: 1;
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* text-align: center; */
 }


 .TxtA h1{
color: white;
font-size: 5.4rem;
letter-spacing: 5px;
text-transform: capitalize;
/* padding-left: 2rem; */
margin-top: 2rem;

 }
 
#nft{
    color:rgb(165, 166, 246) ;
    position: relative;
}
#line-below-nft{
    position: absolute;
     top: 5.5rem;
    left: 100%;
 }

 .TxtA p {
    color:#AB8FC1;
    margin-top: 4rem;
    font-size: 2rem;
    word-spacing: 5px;
    padding-right: 1em;
    margin-bottom: 4rem;
    /* letter-spacing: 2px; */
 }



 /* from this point ill work on image part main  */

 
 .Imge{
    width: 50%;
    /* position: relative; */
    /* background-color: #6d2ef6; */
 }
 .Imge img{
        height: 170vh;
        object-fit: cover;
        position: absolute;
        top: -12px;
        right: 0;
 }
 #blur2{
    position: absolute;
    right: 0;
    top: 69rem;
    right: 0;
    filter: blur(298px);
    z-index: 1;
 }

 /* this is for the buttons and the numbers part  */
.Num-and-btns{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

#First_num{
    display: flex;
}

 .for-num{
    
/* background-color: red; */
display: flex;
gap: 2rem;
padding: 10px;
 }

 .for-num span h2 {
  font-size: 3.5rem;  
  color:rgb(165, 166, 246) ;
 
 }
 .for-num span p {
  margin-top: -4px;
  font-size: 1.3rem;
    color:white ;
    text-align: center;
   }


  
 .line{
    width: 2px;
    height: 4em;
    margin-top: 1em ;
    background-color: rgb(165, 166, 246);
    
 }

 .spanNum-btn{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
    /* background: red; */
    height: 6em;
    margin-bottom: 4rem;

 }

 /* working on buttons of section 1 */
 .for-btns {
    display: flex;
    gap: 2rem;

 }
 .for-btns button {
    padding: 1.2rem 4rem;
    font-size: 1.5rem;
    border-radius: 40px;
    color: white;
    background-color: rgb(120, 121, 241);
    border: 2px solid rgb(120, 121, 241) ;
    cursor: pointer;
    
 }
 #crate-btn{
    background: none;
 }



 /* now working on section 2 */


 #section2{
    /* height: 90vh ; */
    width: 100%;
    display: flex;
 }

 .S2_main_all{
    /* border: 2px solid white; */
    margin-top: 9rem;
 }


 #tren-coll-h1 h1{ 
    color: white;
    font-size: 3rem;
    padding: 2px;
    /* padding: 2rem; */
 }
 

.S2_main1{
    margin-top: 4rem;
    background: rgb(38, 28, 58);
    border: 2px solid rgb(123, 117, 135);
    border-radius: 20px;
    height: 90vh;

}
.headings_S2_main{
    display: flex;
    padding: 0.6rem 0 0.5rem 2rem;
    margin-top: 1rem;
    color: white;
}
.headings_S2_main h1{
    font-size: 2rem;
    padding: 2px;
    /* padding: 2rem; */
}
.headings_S2_main h3{
   margin-left: 15px;
    padding: 2px;
    font-weight: 300;
    text-align: center;
    padding-top: 0.7rem;
    /* padding: 2rem; */
}
#s3_under_collections{
    width: 6%;
    border-radius: 10px 10px 0 0 ;
    border: 2px solid rgb(165, 166, 246) ;
    margin-left: 11.7rem;
    margin-top: auto;
    /* margin-bottom: -1rem; */

}
#s2_line{
    width: 96%;
    border: 1px solid rgb(165, 166, 246) ;
   margin-top: -4rem;
    /* background-color: rgb(165, 166, 246); */
    margin: auto;
}

/* inside s2 maini */

.S2_boxes{

    background-color: red;
    width: 96%;
    padding: 1rem 0;
    display: flex;
    margin: 1rem auto;
    gap: 2rem;
}

.S2_box1 > button{
    font-size: 1rem;
}
.S2_box2> button img{
height: 1.5rem;
}


.S2_box1 , .S2_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgb(47, 37, 67);
    padding: 2px 5px;
    border-radius: 20px;
    height: fit-content;
}
.S2_box1 > button,.S2_box2 > button{
    padding: 1rem 1.5rem;
    height: auto;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#S2_buttons> button{
    padding: 0.7rem 1.5rem;
    
}

.S2_box1 > button:hover ,.S2_box2 > button:hover{
    background-color: rgb(152, 133, 191);
}

